<div  fxLayout="row" >
  <mat-card fxFlex="100" style="background-color:royalblue;color: white;margin: 10px;">
    <mat-card-title fxLayout="row"  fxLayoutGap="1120px">
        <h4 class="mat-display-4">Orders</h4>
        <button mat-icon-button routerLink="/" routerLinkActive="active" >
          <mat-icon>home</mat-icon>
        </button>
       
      
      
       <!-- <mat-icon routerLink="/" routerLinkActive="active" style="color: white" >home</mat-icon>-->
      </mat-card-title>
    </mat-card>
    </div>
 

  <div fxLayout="row" fxLayoutAlign="center start" style="position: absolute;top:21%;width:100%;height: 25%"   >
    <app-orderstable fxFlex="85" ></app-orderstable>
  </div>
  