.example-container {
    height: 450px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  
 :host ::ng-deep .mat-checkbox .mat-accent  .mat-checkbox-checked  {
    color: rgb(17, 0, 255);
}


.mat-form-field {
    font-size: 14px;
    width: 100%;
  }