<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" fxShow.lg="false"
    style="background-color: white">
    <mat-toolbar style="color: royalblue"><span style="font-size: 125%">H2OCAN</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/orders" routerLinkActive="active" style="color:black;font-size: 115%">Orders
        Details</a>
      <a mat-list-item href="" style="color:black;font-size: 115%">Details List</a>
      <a mat-list-item routerLink="/sales" routerLinkActive="active" style="color:black;font-size: 115%">Sales
        Details</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: white;font-size: 200%;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="auto" fxLayoutGap="15px">

        <span style="color:royalblue">H2OCAN</span>
        <a mat-button routerLink="/orders" routerLinkActive="active" style="color: black;font-size: 60%"
          fxShow.xs="false">Orders Details</a>
        <button mat-button [matMenuTriggerFor]="menu" style="color: black;font-size: 60%" fxShow.xs="false">Details
          List</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/membership" routerLinkActive="active">Memeberships </button>
          <button mat-menu-item routerLink="/workers" routerLinkActive="active">Workers</button>
        </mat-menu>
        <a mat-button routerLink="/sales" routerLinkActive="active" style="color: black;font-size: 60%"
          fxShow.xs="false">Sales Details</a>

      </div>
    </mat-toolbar>


    <div id="nana" class="container" fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayoutGap="10px">
      <mat-card style="background-color:rgb(35, 21, 240)" fxFlex="25" fxFlex.xs="100">
        <mat-card-header fxLayout="row" fxLayoutAlign="center start">
          <mat-card-title>
            <p class="mat-display-1" style="color: white;font-family: sans-serif">Total Orders</p>
          </mat-card-title>
          <mat-card-subtitle fxLayout="row" fxLayoutAlign="center start" class="mat-h6"
            style="color: white;font-size: 100px">{{(ordersobs|async)?.totord}}</mat-card-subtitle>
        </mat-card-header>

      </mat-card>

      <mat-card style="background-color:limegreen" fxFlex="25" fxFlex.xs="100">
        <mat-card-header fxLayout="row" fxLayoutAlign="center start">
          <mat-card-title>
            <p class="mat-display-1" style="color: white;font-family: sans-serif">Circle CI</p>
          </mat-card-title>
          <mat-card-subtitle fxLayout="row" fxLayoutAlign="center start" class="mat-h6"
            style="color: white;font-size: 100px">0<!--{{(ordersobs|async)?.delord}}--></mat-card-subtitle>
        </mat-card-header>

      </mat-card>




      <mat-card style="background-color:red" fxFlex="25" fxFlex.xs="100">
        <mat-card-header fxLayout="row" fxLayoutAlign="center start">
          <mat-card-title>
            <p class="mat-display-1" style="color: white;font-family: sans-serif">Undeliverd Orders</p>
          </mat-card-title>
          <mat-card-subtitle fxLayout="row" fxLayoutAlign="center start" class="mat-h6"
            style="color: white;font-size: 100px">0<!--{{(ordersobs|async)?.undelord}}--></mat-card-subtitle>
        </mat-card-header>

      </mat-card>

      <mat-card style="background-color: black" fxFlex="25" fxFlex.xs="100">
        <mat-card-header fxLayout="row" fxLayoutAlign="center start">
          <mat-card-title>
            <p class="mat-display-1" style="color: white;font-family: sans-serif">Available Stocks</p>
          </mat-card-title>
          <mat-card-subtitle fxLayout="row" fxLayoutAlign="center start" class="mat-h6"
            style="color: white;font-size: 90px">0 <!--{{(ordersobs|async)?.avlblcans}}--></mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </div>

    <div style="padding-top: 0.5%"></div>
    <div id="nana" class="container" fxLayout.lg="row" fxLayoutGap="20px" fxShow.xs="false">

      <div id="nani" fxFlex="50">
        <h1 fxLayout="row" fxLayoutAlign="start start" class="mat-h1" style="font-size: 100px;font-family: 'Source Sans Pro'">Order Bits</h1>
        <div style="padding-top: 2.2%"></div>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" style="
          overflow-y: auto;
          height: 365px;">
          <mat-tab label="Orderd" style="color: white">
            <div fxLayout="column" fxLayoutGap="6px" style="background-color: white">
              
              <div *ngFor="let item of orderitemobs| async">
                  <mat-card style="border :1.7px solid royalblue">
                      <mat-card-title fxLayout="row" fxLayoutAlign="space-between start">
                        <div fxLayout="column" fxLayoutAlign="start start">
                          <h1 class="mat-h1">Order no: {{item.ordno}}</h1>
                          <h1 class="mat-h1">Name: {{item.name}}</h1>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start end">
                          <h1 class="mat-h1">Payment: {{item.pay}}</h1>
                      <h1 class="mat-h1">Ph Num: {{item.phone}}</h1>
                        </div>
                      </mat-card-title>
                    </mat-card>

              </div>


            </div>
          </mat-tab>
          <mat-tab label="Delivered">



          </mat-tab>
          <mat-tab label="Undeliverd">
            <mat-card></mat-card>

          </mat-tab>



        </mat-tab-group>

      </div>
      <div id="nani" fxFlex="50">
        <h1 fxLayout="row" fxLayoutAlign="start start" class="mat-h1" style="font-size: 100px;font-family: 'Source Sans Pro'" >Take Order</h1>
        <div style="padding-top: 2.2%"></div>
        <mat-card style="background-color:white;border :2px solid black">
        
        <div fxLayout="row" fxLayoutAlign="space-between start">
        <mat-chip-list aria-label="Order selection" *ngIf=showchip fxLayout="column" fxLayoutAlign="start start">

          <mat-chip style="background-color:greenyellow;font-size:22px;font-family: lato"
            (click)="displayform('250ml')" selected>{{quant250}}</mat-chip>
          <mat-chip style="background-color:rgb(11, 68, 238);font-size:22px;font-family: lato"
            (click)="displayform('500ml')" selected>{{quant500}}</mat-chip>
          <mat-chip style="background-color:rgb(11, 68, 238);font-size:22px;font-family: lato"
            (click)="displayform('1ltr')" selected>{{quant1ltr}}</mat-chip>
          <mat-chip style="background-color:rgb(11, 68, 238);font-size:22px;font-family: lato"
            (click)="displayform('2ltr')" selected>{{quant2ltr}}</mat-chip>
          <mat-chip style="background-color:rgb(11, 68, 238);font-size:22px;font-family: lato"
            (click)="displayform('25ltr')" selected>{{quant25ltr}}</mat-chip>

        </mat-chip-list>
        <button mat-raised-button style="color:white;background-color: black" fxLayout="column" fxLayoutAlign="start end" *ngIf=showchip
            (click)=clearme()>Clear</button>
      </div>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf=showform>

          <mat-form-field fxFlex="50">
            <input #qbuuu matInput placeholder="Quantity for {{quantp}}">
          </mat-form-field>
          <button mat-raised-button style="color:white;background-color: blue"
            (click)=displayc(qbuuu.value,quantp)>Add</button>
        </div>


        <div style="margin: 45px" *ngIf=showm></div>
        <div style="margin: 16px" *ngIf=showmm></div>

        <form fxLayout="row" fxLayoutGap="30px" [formGroup]="npform">
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Name" autocomplete="off" formControlName="name" >
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Phone Number" formControlName="phone" autocomplete="off">
          </mat-form-field>
        </form>
        
        <form fxLayout="row" [formGroup]="addform">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Address" formControlName="address"></textarea>
          </mat-form-field>
        </form>
        
        
        <form fxLayout="row" fxLayoutGap="30px" [formGroup]="lpform">
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Lanndmark"formControlName="landmark"  autocomplete="off">
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Pincode"  formControlName="pincode" autocomplete="off" >
          </mat-form-field>
        </form>
      
      
        <div fxLayout="column" fxLayoutAlign="start end">
      <button mat-raised-button [disabled]="npform.invalid&&addform.invalid&&lpform.invalid" style="background-color:black;color: white;font-size: 150%" (click)=okclick() >Order</button>
    </div>


      </mat-card>
    </div>
    
    </div>
    

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>